.nav {
  padding: 20px;
  display: flex;
}

.NavigationLink {
  color: grey;
  text-decoration: none;
}

.NavigationLink:hover {
  text-decoration: underline;
}

.navLink:not(:last-child) {
  margin-right: 10px;
}

.NavigationLinkActive {
  color: blue;
}

.AddInfoLink {
  padding-left: 10px;
}
